# MacOS specific hidden files
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# package directories
node_modules
jspm_packages

# temp directories
.serverless
.build
.artifact
*.zip

# env files
*.env*
!.env.example

# Coverage reports
coverage
reports
.scannerwork

# Source maps
*.map

# npm audit results
npm-audit.html