# https://docs.npmjs.com/cli/v6/configuring-npm/npmrc
# ~/.npm-init.js
# https://docs.npmjs.com/cli/v6/using-npm/config
# https://docs.npmjs.com/cli/v6/commands/npm-audit
audit-level = high
audit = true
init-version = "1.0.0"
# save exact dependencies in case some do not rely on semver toa void dependencies hell
save-exact = true
sign-git-commit = false
# handled by semantic release - format is x.x.x compying with semver standards
# tag-version-prefix
versions = true