################################################################################################################################
################################################################################################################################
## We use NODE_ENV to define environments in our stages                                                                       ##
## can have the following values                                                                                              ##
# - local                                                                                                                     ##
# - development                                                                                                               ##
# - test                                                                                                                      ##
#                                                                                                                             ##
##                                                                                                                            ##
## 'test' value will be used for tests so we can inject Mocks for external dependencies,                                      ##
## json-serverless will be used to locally mock external services                                                             ##
##                                                                                                                            ## 
## if no NODE_ENV env value is provided it will default to 'development'                                                      ##
## serverless-dot-env-plugin is used                                                                                          ##
## Further documentation: https://github.com/colynb/serverless-dotenv-plugin                                                  ##
################################################################################################################################
################################################################################################################################


# Serverless AWS config
AWS_PROVIDER_PROFILE=default
AWS_PROVIDER_REGION=local
AWS_PROVIDER_STAGE=local
AWS_SERVER_PORT=3009

# DB config
# ...
