################################################################################################################################
################################################################################################################################
## We use NODE_ENV to define environments in our stages                                                                       ##
## can have the following values                                                                                              ##
# - local                                                                                                                     ##
# - development                                                                                                               ##
# - test                                                                                                                      ##
#                                                                                                                             ##
##                                                                                                                            ##
## 'test' value will be used for tests so we can inject Mocks for external dependencies,                                      ##
## json-serverless will be used to locally mock external services                                                             ##
##                                                                                                                            ##
## if no NODE_ENV env value is provided it will default to 'local'                                                            ##
## serverless-dot-env-plugin is used                                                                                          ##
## Further documentation: https://github.com/colynb/serverless-dotenv-plugin                                                  ##
################################################################################################################################
################################################################################################################################


# Azure AD / Dynamics CE Authentication
CE_CLIENT_ID=
CE_CLIENT_SECRET=
CE_AUTHORITY=
CE_RESOURCE=
CE_ACCOUNT_URL=
MAX_RETRY_ATTEMPTS=
MAX_SCALING_DURATION=

# AWS
AWS_EVENT_BUS_SOURCE=
AWS_EVENT_BUS_NAME=

# Logger
LOG_LEVEL=info
